.column1 {
  width: 300px;
  float: left;
  border: 4px solid blue;
  padding: 8px;
}
.column2 {
  width: 300px;
  float: left;
  border: 4px solid blue;
  padding: 8px;
}
.column3 {
  width: 300px;
  float: right;
  border: 4px solid blue;
  padding: 8px;
}
